.DS_Store
*.swp
darkflow
darknet
data
*.jpg
*.JPEG
*.mp4
examples
Labels
YoloLabels
Images
__pycache__
node_modules
config.json
server/lib
server/package-lock.json
server/.bic_cache
*.weights
ui/.cache
ui/dist
