:root {
  --blur: blur(15px);
  --blue: rgb(79, 120, 224);
  --blue-transparent: rgba(79, 120, 224, var(--transparent));
  --turquoise: rgb(49, 197, 182);
  --turquoise-transparent: rgba(49, 197, 182, var(--transparent));
  --salmon: #B3564A;
  --transparent: 0.7;
  --hover: 0.2s ease;
}

html,
html * {
  font-family: 'Manrope', sans-serif;
}

html {
  /* font-size: 0.8vw; */
  font-size: 14px;
  background: black;
  /* overflow: hidden; */
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  color: white;
}

#main {
  width: 100%;
  height: 100%;
  position: relative;
  /* overflow: hidden; */
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 4rem;
  line-height: 5rem;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.5rem;
  margin-bottom: 2rem;
}

p {
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 2.2rem;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 2.25rem;
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  z-index: 1000;
}

button {
  color: white;
  background: none;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.31rem;
  outline: none;
  padding: 0;
  height: min-content;
  /* width: min-content; */
}

.button {
  /* border: 2px solid rgba(255, 255, 255, 0.2); */
  box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 2rem;
  padding: 0.5rem 1.5rem 0.55rem;
  position: relative;
  background: transparent;
  transition: all var(--hover);
  /* background-clip: padding-box;
  border-image-source: linear-gradient(to bottom right, rgb(10, 21, 163), var(--blue));
  border-image-slice: 1; */

  /* padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 80px;
  background-image: linear-gradient(180deg, #c82517 0%, #971000 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box; */

  /* border: solid .125em;
  border-image: linear-gradient(#be4c39, rgba(#be4c39, 0) 80%) 1;
  padding: .125em;
  background: linear-gradient(#be4c39, rgba(#be4c39, 0) 80%) content-box; */
}

/* .blue-button::before {
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: linear-gradient(to bottom right, rgb(10, 21, 163), var(--blue));
} */

.button:hover {
  /* border: 2px solid var(--blue-transparent); */
  /* box-shadow: inset 0px 0px 0px 2px var(--blue-transparent); */
  opacity: var(--transparent);
  transition: all var(--hover);
}

.button-fill {
  /* background: var(--blue); */
  /* background: linear-gradient(to bottom right, var(--blue) 40%, var(--turquoise) 100%); */
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px) saturate(110%) brightness(150%);
  border: none;
  box-shadow: none;
  transition: all var(--hover);
  opacity: 1;
  /* background: linear-gradient(to bottom right, rgb(20, 31, 182), var(--blue)); */
  /* border: transparent; */
  /* border: 2px solid var(--blue); */
}

.button-fill:hover {
  /* background: var(--blue-transparent); */
  /* background: linear-gradient(to bottom right, var(--blue-transparent) 40%, rgba(64, 224, 208, 0.5) 100%); */
  box-shadow: none;
  transition: all var(--hover);
  opacity: var(--transparent);
  /* border: 2px solid var(--blue-transparent); */
}

.icon-button {
  transition: var(--hover);
}

.icon-button:not(.hidden):hover {
  opacity: var(--transparent);
  transition: var(--hover);
}

/* a:hover,
button:hover {
  opacity: 0.5;
} */

.hidden {
  /* display: none !important; */
  opacity: 0;
  transition: all var(--hover);
}

.invisible {
  visibility: hidden;
  opacity: 0;
  /* transition: opacity var(--hover), visibility 0s; */
}

.transparent  {
  opacity: 0;
  transition: opacity var(--hover);
}

/* .visible {
  opacity: 1;
  transition: opacity var(--hover);
} */

.video-bg {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  border-bottom: 1px solid transparent;  
  /* background-size: cover; */
  /* background-position: center; */
  /* background-image: url(./jelly.png); */
  transition: var(--hover);
  z-index: -100;
}

/* .moon-bg {
  background-image: url(./jelly.jpg) !important;
}

.opensea-bg {
  background-image: url(./opensea.jpg) !important;
}

.coralreef-bg {
  background-image: url(./reef.jpg) !important;
} */

/* .modal-text {
  width: calc(min(750px, 80vw));
  margin: 50px 60px 0 60px
} */

/* .modal-text h1 {
  margin: 0 0 2.5rem 0;
} */

/* .modal-text p {
  width: 67%;
  margin: 0 0 2.5rem 0;
} */

.shadow {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}