#info-modal {
  width: 550px;
  height: 100vh;
  position: absolute;
  right: 0;
  /* padding: 50px 60px 0 60px; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: var(--blur);
  /* border-radius: 1rem 1rem 0 0; */
  overflow-y: scroll;
  transition: opacity var(--hover);
  z-index: 1;
}

#info-content {
  /* width: calc(min(750px, 80vw)); */
  /* width: 500px; */
  margin: 50px 60px 0 60px;
}

#modal-x {
  position: absolute;
  top: 20px;
  right: 1.5rem;
}

#cv {
  width: 100%;
  height: 200px;
  /* object-fit: contain; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url(./assets/jelly.jpg);
}