#menu-bar {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 80px;
  /* padding: 0.9rem 0 0.9rem 1.5rem; */

  background: linear-gradient(to top, 
    rgba(0, 0, 0, 0.4) 0%, 
    rgba(0, 0, 0, 0.2) 50%, 
    rgba(0, 0, 0, 0.05) 75%, 
    rgba(0, 0, 0, 0) 100%);
  /* background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0.738) 19%, rgba(0, 0, 0, 0.541) 34%, rgba(0, 0, 0, 0.382) 47%, rgba(0, 0, 0, 0.278) 56.5%, rgba(0, 0, 0, 0.194) 65%, rgba(0, 0, 0, 0.126) 73%, rgba(0, 0, 0, 0.075) 80.2%, rgba(0, 0, 0, 0.042) 86.1%, rgba(0, 0, 0, 0.021) 91%, rgba(0, 0, 0, 0.008) 95.2%, rgba(0, 0, 0, 0.002) 98.2%, transparent 100%); */

  /* background-blend-mode: difference; */
  /* background: rgba(0, 0, 0, 0.3); */
  /* backdrop-filter: var(--blur); */
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  transition: opacity var(--hover);
  z-index: 100;
  pointer-events: none;
}

#menu-bar > * {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  bottom: 1rem;
  pointer-events: all;
}

#menu-bar .button {
  margin-right: 1.5rem;
}

#scene-buttons  {
  position: absolute;
  /* bottom: 1rem; */
  left: 50%;
  transform: translateX(-50%);
}

#controls {
  /* align-self: center; */
  align-items: flex-end;
  /* justify-content: flex-end; */
  /* align-items: flex-start; */
  position: absolute;
  /* bottom: 1rem; */
  left: 1.5rem;
  /* height: 30px; */
}

/* #menu-bar .icon-button { */
#controls>* {
  margin: 0 2.8rem 0 0;
  /* transform: scale(0.8); */
  transform-origin: bottom;
  /* height: 1rem;
  padding-bottom: 100%;
  position: relative; */
}

/* #controls>div:last-child {
  margin: 0;
} */

/* #menu-bar button:last-child {
  margin-right: 0;
} */

#play-button {
  height: 30px;
  margin-bottom: 3px;
  position: relative;
}

.play-icon,
.mute-icon {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(0%, 50%);
}

/* #volume-placeholder {
  display: inline-block;
  width: 20px;
  width: 30px;
  height: 33px;
  height: 150px;
  padding: 0;
  position: relative;
  margin-right:
  z-index: -10;
  pointer-events: none;
} */

#volume-wrapper {
  width: 28px;
  height: 160px;
  position: relative;
  bottom: 0;
}

#mute-button {
  height: 38px;
  position: absolute;
  /* left: 0; */
  bottom: 0;
  /* transform: translateY(-50%); */
  /* transform: scale(0.9); */
  transform-origin: center;
}

/* .mute-icon {

} */

#volume-slider {
  -webkit-appearance: none;
  /* width: 150px; */
  width: 100px;
  height: 9px;
  border: none;
  border-radius: 20px;
  outline: none;
  /* margin: -75px 0 0 -35px; */
  transform: translate(-35px, 50px) rotate(-90deg);
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);

  overflow: hidden;

  /* opacity: 1; */
  transition: opacity var(--hover);
}

/* #volume-slider::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 10px;
} */

/* #volume-slider::-webkit-slider-runnable-track:hover {
  background: #ddd;
} */

#volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  /* height: 16px;
  width: 16px; */
  height: 9px;
  width: 9px;
  border-radius: 50px;
  background: var(--blue);
  box-shadow: -85px 0 0 80px var(--blue);
  /* margin-top: -4px; */
}

#info {
  position: absolute;
  /* bottom: 1rem; */
  right: 1.5rem;
}